<div class="container mt-5 px-5">

    <div class="profile d-flex">
        <div class="profile-img">
            <img src="/assets/img/profile.jpg" alt="porfile-image">
        </div>
        <div class="d-flex flex-column bd-highlight mb-3">
            <hr class="line">
            <h1 class="px-2 title-principal">Jose Sanchez</h1>
            <span class="px-2 subtitle">Desarrollador de software - Freelance </span>
        </div>
    </div>

    <section>
        <h3 class="title-principal">¿Quien soy?</h3>
        <p class="text-break paragraph lh-base"> Me gusta invertir tiempo en trabajos autónomos y en mis proyectos.
            Disfruto
            desarrollando
            páginas web con un estilo sencillo pero atractivo. Si tienes un proyecto y te gustaría contar conmigo, no
            dudes en contactar conmigo para trabajar juntos.
        </p>
    </section>
    <section class="skills-section">
        <h3 class="title-principal">Skills</h3>
        <div class="container">
            <app-skills></app-skills>
        </div>
    </section>
</div>