<div class="fixed-mobile-menu">
    <div class="menu-container">
        <ul class="menu-list-mobile border-top">
            <a routerLink="/inicio" routerLinkActive="active">
                <li>
                    <i class="fas fa-home"></i>
                    <p class="center">Inicio</p>
                </li>
            </a>
            <a routerLink="/acerca-de-mi" routerLinkActive="active">
                <li>
                    <span class="mx-4"><i class="fab fa-sistrix"></i></span>
                    <p>Acerca de mi</p>
                </li>
            </a>
            <a routerLink="/proyectos" routerLinkActive="active">
                <li>
                    <span class="mx-4"><i class="far fa-bell"></i></span>
                    <p class="center">Proyectos</p>
                </li>
            </a>
        </ul>
    </div>
</div>